@model List<ProductListComponentViewModel>

<div class="d-flex flex-column gap-2">
    <a class="btn btn-secondary col-3" asp-controller="Products" asp-action="Index">Detaylı Ürünler Tablosu'na Git</a>
    <table class="table table-secondary table-striped rounded overflow-hidden">
        <thead>
            <tr>
                <th>İSİM</th>
                <th>AÇIKLAMA</th>
                <th>STOK</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model)
            {
                <tr>
                    <td>@product.Name</td>
                    <td>@product.Description</td>
                    <td>@product.Stock</td>
                </tr>
            }
        </tbody>
    </table>
</div>
